<h1><%= @room.name %></h1>

<div id='messages'>
  <%= render @messages %>
</div>

<form>
  <input type='hidden' name='room_id' value='<%= @room.id %>'>
  <label>Say something</label>
  <input type='text' data-behavior='room_speaker'>
</form>
